
*.xml
*.iml
.idea/dataSources/fcac57e9-ad2f-47a9-bd8c-f44980a7bbea/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/fcac57e9-ad2f-47a9-bd8c-f44980a7bbea/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/fcac57e9-ad2f-47a9-bd8c-f44980a7bbea/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/workspace.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
